.App-logo {
  height: 80px;
  vertical-align: middle;
  margin-left: 2em;
}

.App-title {
  display: inline-block;
}

.App-header {
  background-color: #222;
  color: white;
}

.App-header a {
  color: white;
}

.App-intro {
  font-size: large;
}
