.Session {
  background-color: #eee;
  box-shadow: inset 0 0 10px rgba(0,0,0,.2);
}

.Session-close {
  float: right;
  color: #888;
  text-decoration: none;
}

@media(min-width: 420px) {
  .Session-columns {
    display: flex;
  }
}

.Session-columns > * {
  min-width: 200px;
}

.Session-columns > *:last-child {
  margin-left: 0.5em;
}

.Session-image {
  max-width: 100%;
}
